body {
    background-color: #B9EEE5;
}

.bg {
    display: -webkit-flex;
    margin: 20px 0 0 0;
}

.bg img {
    width: 30%;
    align-self: center;
}

.a {
    font-size: 10vw;
    text-align: center;
    margin: 0 22% 0 0;
}

.b {
    font-size: 2vw;
    text-align: center;
    margin: 0 0 10% 0;
}

.c {
    font-size: 20px;
    text-align: center;
    margin: 0 22% 0 0;
}