.lightbox-overlay {
    background: rgba(51, 163, 220, 0.3);;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 99;
    opacity: 0;
    transition: all 0.4s ease-in;
}

.lightbox-overlay.visible {
    opacity: 1;
}

.lightbox-overlay .lightbox-close {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    background: url('../img/close.svg') 0 0 no-repeat;
    background-size: 30px 30px;
    cursor: pointer;
}

.lightbox-container {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    opacity: 0;
    transition: all 0.4s ease-in;
    overflow: auto;
}

.lightbox-container.visible {
    opacity: 1;
}

.lightbox-image {
    background: transparent;
    height: auto;
    width: auto;
    max-width: 70%;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    display: block;
    opacity: 0;
    transition: all 0.4s ease-in;
    overflow: auto;
}

.lightbox-image.lightbox-current {
    opacity: 1;
}

.lightbox-imageflow {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 60%;
    height: 80%;
    overflow: auto;
    padding: 100px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lightbox-imageflow::-webkit-scrollbar {
  display: none;
}

.lightbox-imageflow-image {
    position: relative;
    margin: 10px;
    width: auto;
    height: auto;
    max-width: 90%;
    border-radius: 10px;
    opacity: 1;
    transition: all 0.4s ease-in;
}

.lightbox-intro {
    position: fixed;
    display: flex;
    width: 300px;
    left: 20px;
    top: 20px;
    flex-direction: column;
    align-items: center;
    z-index: 200;
    padding: 20px 20px 40px 20px;
    border-radius: 20px;
}

.lightbox-intro p {
    margin: 0;
    padding: 0;
    color: black;
    max-width: 100%;
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.lightbox-intro > .title {
    font-size: 20px;
}

.lightbox-intro > *::-webkit-scrollbar {
  display: none;
}

.lightbox-intro > .title, .intro {
    margin-bottom: 10px; 
    align-self: flex-start;
}

.lightbox-intro > .intro > .tag {
    display: inline-block;
    margin: 2px 5px;
    padding: 6px 6px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 10px;
}

.lightbox-intro img {
    margin: 0px 0 10px 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    opacity: 0.65;
}

.more-page {
    position: absolute;
    display: inline-block;
    top: 6px;
    right: 6px;
    color: white;
    background-color: #0000009e;
    padding: 2px; 
    border-radius: 4px;
}

.more-page svg {
    float: left;
    fill: white;
    height: 20px;
}

.more-page span {
    float: right;
    padding: 0 2px;
    line-height: 20px;
}