* {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

body {
    font-family: "Arial", arial, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: scroll;
}

#waterfall {
    width: 948px;
    min-height: 200px;
    background-color: #fff;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    position: relative;
    overflow-y: visible;
    display: block;

}

#waterfall .box {
    border-radius: 4px;
    position: absolute;
    width: 228px;
    font-size: 12px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    transition: opacity .4s ease-in-out;
}

.bot {
    position: absolute;
    bottom: 10px;
    height: 30px;
    left: 50%;
    border: 1px solid #888;
    padding: 10px;
    background-color: #fff;
}

a {
    width: 100%;
    min-height: 50px;
    display: block;
    overflow: hidden;
    color: #aaa;
}

p {
    color: #666666;
    display: block;
    padding: 0 16px;
    margin: 10px 0;
    line-height: 1.35em;
    overflow: hidden;
    word-wrap: break-word;
}

#waterfall .box img {
    border-radius: 4px 4px 0px 0px;
    display: block;
    margin: 0 auto;
    width: 100%;
    transition: transform .3s ease
}

#waterfall .box img:hover {
    transform: scale(1.3)
}

.loader {
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -100px;
    padding: 10px 0px 10px 0px;
}

.loaderimg {
    height: 100px;
}
#gototop {
   /* opacity: 0.6;*/

    position: fixed;
    left: 91%;
    top:84%;
    width: 100px;
    cursor: pointer;
    display:none;

}
#gototop img{
    width: 100px;
}
#info{
    text-align: center;
    font-size:20px;
    height: 50px;
    width: 500px;
    position: relative;
    margin: 20px auto;
    left: 0%;
    top: 0%;
    color: #33a3dc;
}

#calendar{
	cursor:pointer;
    height: 100px;
    position: relative;
    left: 50%;
    top: 0;
    text-align: center;
    margin: 70px 0px 0px 0px ;
    transform: translate(-50%, -50%);
}
#calendar img{
    width: 65px;
    margin: 0px;
}


.mask {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
    background: rgba(0, 0, 0, 0.3);
    z-index: 200;
}

.arrow-left, .arrow-right {
    position: fixed;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: opacity .3s;
}

.arrow-left {
    left: 20px;
}

.arrow-right {
    right: 20px;
}

.arrow-left, .arrow-right > svg {
    fill: black;
    width: 100px;
    height: 100px;
    opacity: 0.2;
}

.arrow-left:hover, .arrow-right:hover > svg {
    opacity: 0.8;
}